#loading {
	position: absolute;
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
}

.alta {
	background-color: #fbe9e7;
}

.media {
	background-color: #fff3e0;
}

.bassa {
	background-color:#f9fbe7;
}